body {background-color: dimgray;}
input, button, submit {border: none;}

#universe-container {
    position: absolute;
    display: inline-block; display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#universe {

    min-height: 100px;
    min-width: 100px;
    max-height: 500px;
    max-width: 500px;
/*    margin: 50px;*/
    background-color: lightgray;
    border: 1px solid ghostwhite;}
    .sqmeter {
        min-height: 10px;
        min-width: 10px;
        height: 10px;
        width: 10px;
        outline: 1px solid rgba(0,0,0,0.2);}

.target {background-color: orangered;}
.point {background-color: rgba(0,0,0,0.5);}
.sqmeter:hover {background-color: violet !important;}
.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0,200,0,0.5);}

.point.within-avg {background-color: green;}

.point.hull {background-color: deeppink !important;}
.point.current {background-color: royalblue;}

#hover-slope {
    position: absolute; z-index: 4;
    display: none;
    padding-left: 3px;
    padding-right: 3px;
    background-color: ghostwhite;
    border: 1px solid dimgray;
    font-family: "Open Sans";}
#hover-slope.shown {display: initial;}

#actions-container {
    display: inline-flex;
    flex-direction: column;
    padding: 5px;
    font-size: 24;
    border-right: 1px solid #9e9e9e;
    background-color: ghostwhite;}
    #actions-container button {
        margin-bottom: 5px;
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
        cursor: pointer;
        color: white;
        font-family: "Open Sans";
        font-size: inherit;
        background-color: #2196F3;
        border: 1px solid ghostwhite;
        background-clip: padding-box;
        transition: background-color .1s ease;}
        #actions-container button:hover {background-color: #03A9F4;}
        #actions-container button:focus {outline: 3px solid cornflowerblue}

/*#x_481, #x_641 {background-color: aquamarine;}*/



.point.sqmeter.cyan {background-color: cyan !important;}
.point.sqmeter.lime {background-color: lime !important;}